<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원정보 페이지</title>  
  <link href="/css/main.css" rel="stylesheet">
</head>
<body class = "grey-bg">
  <%- include('nav.ejs') %>

  <div class="white-bg">
    <div class="list-box">
      <h4>로그인 된 계정 정보: <%=data.username%></h4>
    </div>
  </div>
</body>
</html>