<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="/css/main.css" rel="stylesheet">    
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="list-box">
      <h4>고양이 보고가</h4>
    </div>
    <img class="main-image" src="https://lincolncaforum1.s3.us-west-1.amazonaws.com/1716166629007">
  </body>
</html>